body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{
  font-family: "Microsoft YaHei", PingFangSC-Regular, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body{
	font-family:"微软雅黑",Arial;
	background: white;
}
a{
	text-decoration:none;
	color:black;
}
li{
	list-style:none;
}
img{
	border:none;
}	
html,body{
	width:100%;
	height:auto;
}

/*section部分*/
section{
	padding-top:92px;
	width:100%;
	height:100%;
}
section .innersection{
	width:1346px;
	height:653px;
	margin:0 auto;
	position:relative;
}
section .bg_one{
	/*float:left;*/
	display:inline-block;
}
section .bg_one img{
	width:520px;
	height:194px;
	margin:127px 0px 49px 110px;
}
section .bg_one p{
    margin-left: 110px;
	font-size: 23px;
	color: #d3b145;
}
section .bg_two{
	width:357px;
	height:653px;
	}
section .square-bg{
	float:left;
	display:inline-block;
	position: absolute;
    top: 0;
    right: 491px;
    width: 0;
    height:0px;
	border-bottom: 653px solid #d3b145;
    border-left: 357px solid transparent;
}
section .yellow-bg{
	position: absolute;
  	top: 0;
  	right: 0;
	width:491px;
	height:653px;
	background:#d3b145;
}
section #register-form{
	width:344px;
	height:390px;
	background:white;
	margin-top:130px;
    margin-left:32px;
}
section #register-form form{
  padding-top:30px;
	margin-left:40px;
}
section #register-form #login_titleone{
	margin-left:10px;
	float:left;
	color: #d3b145;
	cursor: pointer;
}
section #register-form #login_titletwo{
	float:left;
	color: #999999;
	cursor: pointer;
}
section #register-form input{
	width: 253px;
    height: 31px;
    line-height:31px;
    margin-top: 15px;
    padding: 0 19px;
    border-radius: 5px;
    font-size:12px;
    background-color: #f8f8f8;
    border: solid 1px #e3e3e3;
    color: #808080;
    box-sizing: border-box;
   }
section #register-form #loginbtn{
		width: 253px;
    height: 31px;
    margin-top:35px;
    font-size: 15px;
    color: #ffffff;
   /* border-radius: 5px;*/
    background-color: #333333;
    cursor: pointer;
    border:none;
}
section #register-form .checkbox{
	width:13px;
	height:13px;
	vertical-align:middle;
}
section #register-form a{
	display: inline-block;
    vertical-align:middle;
    font-size: 12px;
    color: #464646;
    text-align:center;
}
section #register-form .password{
	width:253px;
	height:21px;
	line-height:21px;
	margin-top:8px;
	margin-bottom:40px;
}
section #register-form .password .remenber{
	margin-top:12px;
	vertical-align:middle;
	margin-left:3px;
}
section #register-form .password .forget{
	margin-top:12px;
	margin-left:90px;
}
section #register-form .password .goregister{
	margin-top:12px;
}
section #register-form .left_line{
	margin-left:-40px;
	width:131px;
	height:9px;
	transform:rotate(180deg);
}
section #register-form .right_line{
	width:131px;
	height:9px;
}
section #register-form .fastlogin{
	margin:0px 10px;
}
section #register-form .wx_chat{
	margin-left:110px;
	margin-top:15px;
	width:33px;
	height:28px;
}
section  #another{
	width:344px;
	height:410px;
	background:white;
	margin-top:130px;
  margin-left:32px;
  display:none;
}
section  #another #login_titlethree{
	margin-left:10px;
	float:left;
	color: #999999;
	cursor: pointer;
}
section  #another .login_titletwo{
	color: #d3b145;
  cursor: pointer;
	}
section  #another form{
	padding-top:30px;
	margin-left:40px;
}	
section  #another input{
		width: 253px;
    height: 31px;
    line-height:31px;
    margin-top: 15px;
    padding: 0 19px;
    border-radius: 5px;
    font-size:12px;
    background-color: #f8f8f8;
    border: solid 1px #e3e3e3;
    color: #808080;
    box-sizing: border-box;
}
section  #another .slidebox{
	margin-top:15px;
}
/*section  #another .slidebox .slideblock{
	width:43px;
    height:28px;
    vertical-align:middle;
    line-height:27px;
    position:absolute;
    left:0;
    top:0;
}*/
section  #another .verify_input{
	margin-top:-5px;
	width:154px;
    height:31px;
    padding-left:15px;
    font-size:13px;
    vertical-align: top;
    border-radius:5px;
    border: solid 1px #e3e3e3;
    background-color: #f8f8f8;
    box-sizing: border-box;
    }
section  #another .verify_code{
	display:inline-block;
	width:90px;
    height:31px;
    line-height:31px;
    margin-left: 14px;
    display:inline-block;
    vertical-align: middle;
    font-size:13px;
    color: #ffffff;
    border:solid 1px #e3e3e3;
    background-color: #d3b145;
    text-align: center;
    box-sizing: border-box;
    margin-top:-5px;
}
section  #another #loginbtn{
	/* margin-top:15px;*/
	 	width: 253px;
    height: 31px;
    margin-top:15px;
    font-size: 15px;
    color: #ffffff;
   /* border-radius: 5px;*/
    background-color: #333333;
    cursor: pointer;
    border:none;
}
section #another .checkbox{
	width:13px;
	height:13px;
	vertical-align:middle;
}
section #another a{
	display: inline-block;
    vertical-align:middle;
    font-size: 12px;
    color: #464646;
    text-align:center;
}
section #another .password{
	width:253px;
	height:21px;
	line-height:21px;
	margin-top:8px;
	margin-bottom:40px;
}
section #another .password .remenber{
	margin-top:12px;
	vertical-align:middle;
	margin-left:3px;
}
section #another .password .forget{
	margin-top:12px;
	margin-left:90px;
}
section #another .password .goregister{
	margin-top:12px;
}
section #another .left_line{
	margin-left:-40px;
	width:131px;
	height:9px;
	transform:rotate(180deg);
}
section #another .right_line{
	width:131px;
	height:9px;
}
section #another .fastlogin{
	margin:0px 10px;
}
section #another .wx_chat{
	margin-left:110px;
	margin-top:15px;
	width:33px;
	height:28px;
}

